
*{padding:0;margin:0}
ul,ol{list-style:none}
a{text-decoration:none;color:#fff;font-size:15px}
nav{width:80%;overflow:hidden;height:80px;background-color:#1b2035;margin:50px auto}

#nav3 {
    width: 100%;
    position: fixed;
    text-align: center;
    padding-bottom: 10px;;
  }
  #nav3>a {
    line-height: 80px;
    display: block;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 30px;
  }
  #nav3>select {
    padding: 0 20px;
    height: 30px;
    background-color: #1b2035;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-15px);
    border: 2px solid #fff;
    border-radius: 30px;
  }
  #nav3>ul {
    display: inline-block;
  }
  #nav3>ul li {
    float: left;
    line-height: 80px;
    padding: 0 30px;
  }
  


html { 
  background: url(coding.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: relative; 
}
img.poster{
  display:block;
  width: 9cm;
  height: 12cm;
  padding-top: 15%;
  padding-left: 20%;
} 

.movie_topic{
  font-weight: 900;
  color:#00bfff;
}


