nav{width:80%;overflow:hidden;background-color:#1b2035}
*{padding:0;margin:0}
ul,ol{list-style:none}
a{text-decoration:none;color:#fff;font-size:15px}

div {
  box-sizing: content-box;
  width: 100%;
  color: #1b2035;
  right: 30px;
  padding-top: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

option{
  padding-right: 50px;
}


option:hover{
  color:#9c5eb8;

}


#nav3 {
  width: 100%;
  text-align: center;
  
}
#nav3>h1 {
  line-height: 80px;
  display: block;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 30px;
  color: #fff;
}

#nav3>ul {
  display: inline-block;
}
#nav3>ul li {
  float: left;
  left: 10%;
  line-height: 80px;
  padding: 0 30px;
}
#nav3>form {
  position:fixed;
  display: inline-block;
  padding-top: 20px;
  padding-left: 150px;
}
#nav3>form input {
   font: inherit;
    padding: 0.2rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
}
#nav3>form button{
  font: inherit;
    cursor: pointer;
    padding: 0.5rem 0.6rem;
    border: 1px solid #9c5eb8;
    background-color: #9c5eb8;
    color: white;
    border-radius: 20px;
    margin-right: 0.6rem;
}